################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KafkaDemoDotnet8/CopilotIndices/17.14.1368.60722
/.vs/KafkaDemoDotnet8/DesignTimeBuild
/.vs/KafkaDemoDotnet8/FileContentIndex
/.vs/KafkaDemoDotnet8/v17
/.vs/KafkaDemoDotnet8/config
/.vs/ProjectEvaluation
